#stopwatch {
    text-align: center;
    margin-top: 350px;
  }
#display {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #e7dede;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}
   button {
    margin: 20px;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: #468a48;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4aaf4e;
  }