.bai4{
            width: 450px;
            height: 250px;
           box-shadow: 0 0 10px rgba(0, 0, 0, .7);
            margin-top: 48px;
            margin-bottom: 48px;
            margin: auto;
            text-align: center;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #993738;
   
}

table, th, td{
    border: 2px solid #993738;
}
table{
    border-collapse: collapse; 
   width: 400px;
   margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#bang1{
    background-color: #993738;
    color: white;
}
.bang2{
    background-color: rgb(172, 168, 168);
}
.bang3{
    background-color: white;
}